* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google sans", Roboto, Arial, sans-serif;
    color: white;
}

body {
    width: 100%;
    height: auto;
    background-color: darkslategrey;
}

.header-title {
    justify-content: flex-start;
    padding: 2rem;
}

.header-title > h1 {
    font-size: xx-large;
    text-align: left;
}

.header-title a {
    text-decoration: none;
}

.introduction-container {
    width: 60rem;
    margin: 0 auto;
}

#introduction {
    text-align: center;
    line-height: 3rem;
    margin: 4rem 0
}

#introduction > h2 {
    font-size: xxx-large;
    font-weight: lighter;
}

#introduction > p {
    font-size: larger;
    font-weight: lighter;
}

.main-container {
    width: 80rem;
    margin: 0 auto;
}

section > h1 {
    font-size: xx-large;
    font-weight: lighter;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.highlight-section {
    text-decoration: none;
    color: limegreen;
}

.highlight-section:hover {
    color:lime;
}

.cheatsheet-card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(18.65rem, 1fr));
    grid-auto-rows: minmax(10rem, auto);
    gap: 1rem;
}

.highlighted {
    border: 2px solid limegreen !important;
}

.card {
    border-radius: 0.5rem;
    background-color: #457474;
    color: black;
}

.card.tall {
    grid-row: span 3;
}
.card.medium {
    grid-row: span 2;
}
.card.small {
    grid-row: span 1;
}

.card > h3 {
    color: limegreen;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.content {
    margin: 1rem;
}

.content.standard-content {
    font-weight: lighter;
    color: lightgrey;
}

.content.code-content {
    position: relative;
}

.code {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9rem;
}

.code-content .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 255, 0, 0.5);
    border: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.code-content .copy-button>img {
    margin: auto auto;
    width: 0.9rem;
    height: auto;
}

.code-content .copy-button:hover {
    background-color: rgba(0, 255, 0, 0.8);
}

.content.list-content {
    padding-left: 1rem;
    line-height: 2.5rem;
}

.list-content li {
    border-bottom: 1px solid darkslategrey;
}

.list-content li:last-child {
    border-bottom: none;
}

.content.definition-content > ul li {
    line-height: 2.5rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkslategrey;
}

.content.definition-content > ul li:last-child {
    border-bottom: none;
}

.code-attribute {
    font-family: monospace;
    color: darkgreen;
    font-weight: bold;
    font-size: x-large;
}

.subtitle {
    text-align: center;
    background-color: #4f8484;
    padding: 0.5rem;
}