* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    color: white;
}

body {
    width: 100%;
    height: auto;
    background-color: #0f172a;
}

header {
    width: 90rem;
    margin: 0 auto;
}

.header-title {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}

.header-title a {
    display:flex;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    align-items: center;
}

.header-title h1 {
    font-size: xx-large;
    font-weight: normal;
    text-align: left;
}

.header-title img {
    width: 3rem;
    height: auto;
}

.main-container {
    width: 60rem;
    margin: 0 auto;
}

#introduction {
    text-align: center;
    line-height: 3rem;
    margin: 4rem 0
}

#introduction > h2 {
    font-size: xxx-large;
}

#introduction > p {
    font-weight: lighter;
    font-size: larger;
    color: #94a3b8
}

section {
    margin-bottom: 4rem;
}

.grid-container > h2 {
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
    font-size: x-large;
}

.grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.button {
    display: flex;
    width: 20%;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: lightgrey;
    align-items: center;
    padding: 1rem;
    justify-content: left;
    gap: 1rem;
    text-decoration: none;
}

.button p {
    width: 70%;
    height: auto;
    font-size: 1.1rem;
    color: black;
}

.button img {
    width: 20%;
    height: auto;
}

.html-button {
    background-color: #FFB38E;
}

.css-button {
    background-color: #FFD166;
}

.javascript-button {
    background-color: #06D6A0;
}

.node-button {
    background-color: #118AB2;
}

.node-button img {
    width: 25%;
}

.ssh-button {
    background-color: #FFB3BA;
}

.ssh-button img {
    width: 25%;
}

.ubuntu-button {
    background-color: #A0E7E5;
}

.vps-button {
    background-color: #118AB2;
}

.vps-button img {
    width: 25%;
}